.write-a-review {
    height: 30px;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

.date {
    font-size: .8rem;
}

.author{
    font-size: 1rem;
}

.Review hr {
    margin: 20px 10%;
}