.BookReviews {
    margin: 2rem 2rem;
}

.BookReviews h4 {
    margin-top: 0;
}

.Sort-reviews ul{
    display: inline-flex;
    list-style-type: none;
    align-content: space-around;
}

.Sort-reviews ul li {
    cursor: pointer;
    width: 5rem;
    border-bottom: 1px solid #fff;
    padding: 0 1rem .33rem 1rem;
    line-height: 1.13;
    text-align: center;
    font-weight: 300;
    font-size: .75rem;
    transition: color .25s;
}

.Sort-reviews li:hover {
    color: #d4cfcf;
  }
  
.Sort-reviews li.active,
.Sort-reviews li.active:hover {
    border-bottom: 1px solid #f0c36c;
    color: #f0c36c;
    font-weight: 500;
    font-size: .75rem;
}