.Book {
  flex: 2 1 300px;
  margin: 1rem;
  max-width: 300px;
  min-width: 300px;
  box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.1);
}

.Book:hover {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}

.Book-information {
  padding: 20px;
}

.Book-information>div {

}

.Book-author {
  padding: 10px;
}